<!DOCTYPE html>
<html>
    <font face="arial">
        <head>
            <title>WEBSITE SMA DH</title>
        </head>
        
        <body>
            <header>
            <!-- <h1><%= title %></h1> -->
            <%- include ../partials/header %><br>
            </header>            
            <a href="/students/add" style="text-decoration:none;color:dodgerblue;font-weight:bold">Add Student</a>
            <br><br>
            <table style="width:100%">
                <tr align="left">
                    <th >NIS</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                    
                </tr>
                
                <% for (let i = 0; i < arrStudents.length; i++) { %>
                    <tr align="left">
                        <td><%= arrStudents[i].id %></td>
                        <td><%= arrStudents[i].first_name %></td>
                        <td><%= arrStudents[i].last_name %></td>
                        <td><%= arrStudents[i].email %></td>
                        <td><a href="/students/edit/<%= arrStudents[i].id %>" style="text-decoration:none;color:dodgerblue;font-weight:bold">Edit</a> | <a href="/students/delete/<%= arrStudents[i].id %>" onclick="return confirm('Delete this student?')" style="text-decoration:none;color:dodgerblue;font-weight:bold">Delete</a></td>
                    </tr>
                    <% } %>
            </table>
        </body>
    </font>
</html>